<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="background-color:skyblue;">
  <h1>我的主页</h1>
  <div>
    <button style="background-color:greenyellow;">
      <a href="./get.html">返回get首页</a>
    </button>
  </div>
  <br>
  <div>
    <button style="background-color:greenyellow;">
      <a href="./post.html">返回post首页</a>
    </button>
  </div>
  <br>
  <div>
    <button style="background-color:greenyellow;">
      <a href="./form.html">返回form首页</a>
    </button>
  </div>
  <br>
  <div>
    <button style="background-color:greenyellow;">
      <a href="./append.html">返回append首页</a>
    </button>
  </div>
  <br>
  <div>
    <button style="background-color:greenyellow;">
      <a href="./art-template.html">返回art-template首页</a>
    </button>
  </div>
  <br>
  <div>
    <button style="background-color:greenyellow;">
      <a href="./formValidation.html">返回formValidation首页</a>
    </button>
  </div>
  <br>
  

</body>

</html>